<h2>Edit lie</h2>

<form action="/lies/{{lie.id}}?_method=PUT" method="post">

  <label for="title">Title:</label>
  <input name="title" value="{{lie.title}}">

  <label for="album">Album:</label>
  <input name="album" value="{{lie.album}}">

  <label for="previewUrl">Preview URL:</label>
  <input name="previewUrl" value="{{lie.previewUrl}}">

  <label for="candidateId">candidate ID:</label>
  <input name="candidateId" value="{{lie.candidateId}}">

  <input type="submit" value="Edit">
</form>

<form action="/lies/{{lie.id}}?_method=DELETE" method="post">
  <input class="button-delete" type="submit" value="Delete!">
</form>
