<h2>Edit candidate</h2>

<form action="/candidates/{{candidate.id}}?_method=PUT" method="post">
  <label for="name">Name:</label>
  <input name="name" value="{{candidate.name}}">

  <label for="candidatex[photo_url">Photo URL:</label>
  <input name="photoUrl" value="{{candidate.photoUrl}}">

  <label for="nationality">Nationality:</label>
  <input name="nationality" value="{{candidate.nationality}}">

  <input type="submit" value="Edit">
</form>

<form action="/candidates/{{candidate.id}}?_method=DELETE" method="post">
  <input class="button-delete" type="submit" value="Delete!">
</form>
