<h2>{{candidate.name}} <a href="/candidates/{{candidate.id}}/edit">(edit)</a></h2>
<h4>{{candidate.nationality}}</h4>

<img class='candidate-photo' src="{{candidate.photoUrl}}">

<h3>lies</h3>
<ul>
  {{#each lies}}
    <!-- build the list element for each lie -->
    <li>
      <a href="/lies/{{id}}">
        {{title}} ({{album}})
      </a>
    </li>

  {{/each}}
</ul>
